  h1 {
    font-size: 150%;
    margin-top: 0em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }
  h3 {
    font-size: 125%;
    text-decoration: underline;
    margin-bottom: 0em;
    font-weight: normal;
  }
  table {
    width: 100%;
  }
  select {
    max-width : 8em;
  }
  ul, ol {
    margin: 0em;
    padding-left: 1em;
    background: inherit;
  }
  li {
    padding: 0em;
    margin: .5em 0em .5em 0em;
  }
  #topbar {
    padding-top: .5em;
    text-align: center;
    clear:both;
  }
  .I {
    margin-top: 0em;
    clear:both;
    background: white;
    text-align: justify;
    padding: .25em;
    margin-bottom: .5em;
  }
  .S, .E {
    margin-bottom: 1em;
    width: 48%;
    background: inherit;
    text-align: center;
  }
  .S {
    float: left;
  }
  .E {
    float: right;
  }
  big i, big b, big {
    padding: .25em;
  }
  big i {
    color: steelblue;
  }
  textarea {
    resize: none;
    height: 1.5em;
    padding: 0;
    margin: 0;
  }
  textarea[disabled="true"] {
    border: 0;
  }

  