  h1 {
    font-size: 150%;
    margin-top: 0em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }
  p {
    background: inherit;
  }
  select {
    max-width : 8em;
  }
  ul, ol {
    margin: 0px 0px 0px 0px;
    padding-left: 1.5em;
    background: inherit;
  }
  #topbar {
    padding-top: .5em;
    text-align: center;
    clear:both;
  }
  .I {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    clear:both;
    background: white;
  }
  .S, .E {
    width: 48%;
    padding: 0em 1% 0em 1%;
    background: inherit;
  }
  .S {
    float: left;
  }
  .E {
    float: right;
  }
  #fixed, #free {
    border: 5px solid lightgray;
    border-radius: 5px;
    margin: 2%;
    padding: 1%;
  }
  #fixed {
    background: whitesmoke;
  }
  #free {
    background: white;
  }
  