  body {
    background: whitesmoke; 
  }
  h1 {
    font-size: 150%;
    margin-top: 0em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }
  select {
    max-width : 8em;
  }
  /*ul, ol {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 1.5em;
  }
  b{
    text-shadow : 0 0 0 #333;
  }
  i {
    text-shadow : 0 0 0 #333;
  }
  u {
    text-shadow : 0 0 0 #333;
  }*/
  
  #specification, #assertion, #scenarios, #helper {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    background: #CCC;
  }
  #specification {
    width: 53%;
    float:right;
  }
  #helper {
    width: 53%;
    float:right;
    margin: 2% auto auto auto;
  }
  #assertion {
    width: 43%;
    float:left;
  }
  #scenarios {
    width: 43%;
    float:left;
    margin: auto auto 2% auto;
  }
  #spec, #assert, #scenario, #help {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 5px;
    background: #FFF;
  }

  